In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("../data/coffee-location.csv")

In [5]:
df.sample(10)

,Unnamed: 0,Country,Year,Production,Exports,Domestic_consumption,Gross_opening_stocks,Imports,Re_exports,Price_grower,Price_retail,Consumption,Country_code,Latitude,Longitude,Country_type,Continent
2030,2030,Venezuela,2010,1202.1338,19.084311,1650.0,0.000,NaN,NaN,NaN,NaN,NaN,VE,6.423750,-66.589730,producer,South America
1833,1833,Thailand,1991,1468.9360,540.937000,220.0,207.000,NaN,NaN,18.3728,NaN,NaN,TH,15.870032,100.992541,producer,Asia
166,166,Burundi,1998,491.9920,373.841000,2.0,3.584,NaN,NaN,52.2187,NaN,NaN,BI,-3.373056,29.918886,producer,Africa
2199,2199,Belgium/Luxembourg,1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,consumer,Unknown
639,639,Congo,1999,3.0000,0.000000,3.0,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,producer,Africa
2885,2885,Slovenia,1995,NaN,NaN,NaN,NaN,147.619000,8.09000,NaN,NaN,139.529000,SI,46.151241,14.995463,consumer,Europe
3086,3086,Switzerland,2016,NaN,NaN,NaN,NaN,2816.026086,1747.90763,NaN,NaN,1066.237623,CH,46.818188,8.227512,consumer,Europe
50,50,Angola,2015,40.5150,10.515000,30.0,105.000,NaN,NaN,45.8120,NaN,NaN,AO,-11.202692,17.873887,producer,Africa
1902,1902,Togo,2002,68.2050,100.191000,2.0,30.600,NaN,NaN,18.2661,NaN,NaN,TG,8.619543,0.824782,producer,Africa
2117,2117,Yemen,2007,197.9537,72.240878,130.0,0.000,NaN,NaN,NaN,NaN,NaN,YE,15.552727,48.516388,producer,Asia

In [6]:
df['Imports (tonnes)'] = df.Imports*60

In [8]:
df.sample(10)

,Unnamed: 0,Country,Year,Production,Exports,Domestic_consumption,Gross_opening_stocks,Imports,Re_exports,Price_grower,Price_retail,Consumption,Country_code,Latitude,Longitude,Country_type,Continent,Imports (tonnes)
364,364,Madagascar,2007,614.1661,99.451371,467.000,8.333,NaN,NaN,NaN,NaN,NaN,MG,-18.766947,46.869107,producer,Africa,NaN
963,963,Central African Republic,1993,165.5740,137.197000,25.000,14.000,NaN,NaN,23.8924,NaN,NaN,CF,6.611111,20.939444,producer,Africa,NaN
1659,1659,Nicaragua,1999,1554.0548,984.193999,130.300,8.400,NaN,NaN,NaN,NaN,NaN,NI,12.865416,-85.207229,producer,North America,NaN
1943,1943,Trinidad & Tobago,2013,12.2242,2.485916,10.000,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,producer,Unknown,NaN
2700,2700,Malta,1990,NaN,NaN,NaN,NaN,20.713999,1.101000,NaN,NaN,19.612998,MT,35.937496,14.375416,consumer,Europe,1242.839934
2134,2134,Austria,1994,NaN,NaN,NaN,NaN,1417.214004,380.995008,NaN,4.58,1086.218996,AT,47.516231,14.550072,consumer,Europe,85032.840234
1651,1651,Nicaragua,1991,707.0670,392.053000,138.000,63.162,NaN,NaN,44.1370,NaN,NaN,NI,12.865416,-85.207229,producer,North America,NaN
2399,2399,Estonia,2019,NaN,NaN,NaN,NaN,147.848908,25.339064,NaN,NaN,122.509844,EE,58.595272,25.013607,consumer,Europe,8870.934480
1105,1105,Democratic Republic of Congo,2002,337.8730,179.221000,200.000,87.960,NaN,NaN,2.9573,NaN,NaN,NaN,NaN,NaN,producer,Unknown,NaN
186,186,Burundi,2008,411.7822,250.698233,1.435,5.150,NaN,NaN,86.1923,NaN,NaN,BI,-3.373056,29.918886,producer,Africa,NaN

In [9]:
df.to_csv("../data/coffee-location-imports(tonnes).csv", index=False)