In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../data/coffee-location.csv")

In [3]:
df.sample(10)

,Unnamed: 0,Country,Year,Production,Exports,Domestic_consumption,Gross_opening_stocks,Imports,Re_exports,Price_grower,Price_retail,Consumption,Country_code,Latitude,Longitude,Country_type,Continent
762,762,Philippines,1996,889.8190,27.032000,831.0,1117.000,NaN,NaN,76.3125,NaN,NaN,PH,12.879721,121.774017,producer,Asia
2275,2275,Croatia,2015,NaN,NaN,NaN,NaN,437.201445,62.553903,NaN,NaN,374.647541,HR,45.100000,15.200000,consumer,Europe
2216,2216,Belgium/Luxembourg,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,consumer,Unknown
1308,1308,Guatemala,2008,3784.9658,3777.590202,335.0,8.000,NaN,NaN,111.0286,NaN,NaN,GT,15.783471,-90.230759,producer,North America
379,379,Madagascar,2014,501.4544,137.809592,390.0,10.000,NaN,NaN,NaN,NaN,NaN,MG,-18.766947,46.869107,producer,Africa
447,447,Papua New Guinea,2003,1154.9440,1147.168000,2.0,87.709,NaN,NaN,17.3053,NaN,NaN,PG,-6.314993,143.955550,producer,Oceania
2475,2475,Germany,2005,NaN,NaN,NaN,NaN,16716.048748,8356.257655,NaN,4.06,8664.507094,DE,51.165691,10.451526,consumer,Europe
1468,1468,India,2019,4987.6264,6027.861152,1450.0,475.000,NaN,NaN,105.9568,NaN,NaN,IN,20.593684,78.962880,producer,Asia
1294,1294,Guatemala,1994,3787.3360,3274.069000,310.0,240.000,NaN,NaN,75.3208,NaN,NaN,GT,15.783471,-90.230759,producer,North America
1116,1116,Democratic Republic of Congo,2008,421.9583,203.203617,200.0,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,producer,Unknown

In [4]:
df['Imports (tonnes)'] = df.Imports*60
df['Consumption (tonnes)'] = df.Consumption*60
df['Re_exports (tonnes)'] = df.Re_exports*60

In [5]:
df.sample(10)

,Unnamed: 0,Country,Year,Production,Exports,Domestic_consumption,Gross_opening_stocks,Imports,Re_exports,Price_grower,Price_retail,Consumption,Country_code,Latitude,Longitude,Country_type,Continent,Imports (tonnes),Consumption (tonnes),Re_exports (tonnes)
1802,1802,Sri Lanka,2006,32.8750,7.429435,30.0,1.000,NaN,NaN,NaN,NaN,NaN,LK,7.873054,80.771797,producer,Asia,NaN,NaN,NaN
1260,1260,Ghana,1990,37.8550,10.865000,17.0,4.000,NaN,NaN,NaN,NaN,NaN,GH,7.946527,-1.023194,producer,Africa,NaN,NaN,NaN
1188,1188,Equatorial Guinea,2008,0.0000,0.000000,0.0,0.000,NaN,NaN,NaN,NaN,NaN,GQ,1.650801,10.267895,producer,Africa,NaN,NaN,NaN
1365,1365,Guyana,2005,7.0144,0.527806,5.6,0.000,NaN,NaN,NaN,NaN,NaN,GY,4.860416,-58.930180,producer,South America,NaN,NaN,NaN
2596,2596,Italy,2006,NaN,NaN,NaN,NaN,7547.525972,1938.465359,NaN,6.29,5593.060613,IT,41.871940,12.567380,consumer,Europe,452851.558332,335583.636798,116307.921534
1657,1657,Nicaragua,1997,1083.5230,714.003000,123.0,12.398,NaN,NaN,NaN,NaN,NaN,NI,12.865416,-85.207229,producer,North America,NaN,NaN,NaN
1545,1545,Lao People's Democratic Republic,2005,279.6460,236.899999,140.0,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,producer,Asia,NaN,NaN,NaN
2641,2641,Lithuania,1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LT,55.169438,23.881275,consumer,Europe,NaN,NaN,NaN
3140,3140,United Kingdom,2010,NaN,NaN,NaN,NaN,4301.908141,1193.113837,NaN,15.70,3134.144304,GB,55.378051,-3.435973,consumer,Europe,258114.488460,188048.658252,71586.830208
2224,2224,Bulgaria,1994,NaN,NaN,NaN,NaN,462.668007,109.904001,NaN,NaN,352.764006,BG,42.733883,25.485830,consumer,Europe,27760.080402,21165.840366,6594.240036

In [6]:
df.to_csv("../data/coffee-location-imports(tonnes).csv", index=False)