In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../data/coffee-cleaned.csv")

In [3]:
df.sample(10)

,Country,Year,Production,Exports,Domestic_consumption,Gross_opening_stocks,Imports,Re_exports,Price_retail,Consumption,Coffee_type,Price_grower,Country_code,Latitude,Longitude
1507,Democratic Republic of Congo,2013,347.0870,140.125333,200.000,4.000,NaN,NaN,NaN,NaN,Robustas,NaN,NaN,NaN,NaN
537,Tanzania,1998,739.3120,742.305000,17.000,15.711,NaN,NaN,NaN,NaN,Colombian Milds,90.7025,TZ,-6.369028,34.888822
14,Papua New Guinea,1990,962.8410,1050.719000,3.000,199.000,NaN,NaN,NaN,NaN,Other Milds,65.5004,PG,-6.314993,143.955550
318,Viet Nam,1994,3631.6090,2720.911000,267.000,0.000,NaN,NaN,NaN,NaN,Brazilan Naturals,NaN,NaN,NaN,NaN
721,Rwanda,2001,295.5100,278.773000,2.000,0.000,NaN,NaN,NaN,NaN,Other Milds,23.2564,RW,-1.940278,29.873888
702,Viet Nam,2000,14841.3090,11618.375850,401.625,666.667,NaN,NaN,NaN,NaN,Brazilan Naturals,NaN,NaN,NaN,NaN
1747,Congo,2017,3.0001,0.000000,3.000,0.000,NaN,NaN,NaN,NaN,Robustas,NaN,NaN,NaN,NaN
1464,Thailand,2012,608.0946,349.719366,1130.000,10.000,NaN,NaN,NaN,NaN,Robustas,103.0864,TH,15.870032,100.992541
1332,Sierra Leone,2010,32.9146,57.576486,5.000,3.000,NaN,NaN,NaN,NaN,Robustas,NaN,SL,8.460555,-11.779889
546,Democratic Republic of Congo,1998,738.0830,640.369000,200.000,97.847,NaN,NaN,NaN,NaN,Other Milds,63.1381,NaN,NaN,NaN

Convert to tonnes from thousand 60kg bags

In [4]:
df['Exports (tonnes)'] = df.Exports*60
df['Domestic Consumption (tonnes)'] = df.Domestic_consumption*60
df['Production (tonnes)'] = df.Production*60

Convert price to growers to dollars per pound from US cents per pound

In [5]:
df['Price to Grower ($)'] = df.Price_grower/100

In [6]:
df.sample(10)

,Country,Year,Production,Exports,Domestic_consumption,Gross_opening_stocks,Imports,Re_exports,Price_retail,Consumption,Coffee_type,Price_grower,Country_code,Latitude,Longitude,Exports (tonnes),Domestic Consumption (tonnes),Production (tonnes),Price to Grower ($)
234,Honduras,1993,1829.1790,1705.317000,230.000,100.0000,NaN,NaN,NaN,NaN,Other Milds,37.5422,HN,15.199999,-86.241905,102319.020000,13800.00,109750.740,0.375422
1177,Tanzania,2008,1186.2823,817.936167,47.000,13.2166,NaN,NaN,NaN,NaN,Colombian Milds,63.3829,TZ,-6.369028,34.888822,49076.170002,2820.00,71176.938,0.633829
1880,Philippines,2019,306.5344,7.086016,3250.000,0.0000,NaN,NaN,NaN,NaN,Robustas,NaN,PH,12.879721,121.774017,425.160936,195000.00,18392.064,NaN
270,Papua New Guinea,1994,1138.6590,1156.837000,2.000,38.0000,NaN,NaN,NaN,NaN,Other Milds,149.0779,PG,-6.314993,143.955550,69410.219976,120.00,68319.540,1.490779
1636,El Salvador,2015,565.0000,575.864057,285.000,10.7000,NaN,NaN,NaN,NaN,Other Milds,87.4489,SV,13.794185,-88.896530,34551.843426,17100.00,33900.000,0.874489
1165,Malawi,2008,20.7530,20.554000,1.000,0.0000,NaN,NaN,NaN,NaN,Other Milds,76.2341,MW,-13.254308,34.301525,1233.240000,60.00,1245.180,0.762341
461,Malawi,1997,60.8200,60.170000,2.000,2.0000,NaN,NaN,NaN,NaN,Other Milds,108.7488,MW,-13.254308,34.301525,3610.200000,120.00,3649.200,1.087488
1562,Tanzania,2014,752.6685,717.956937,76.717,38.9500,NaN,NaN,NaN,NaN,Robustas,NaN,TZ,-6.369028,34.888822,43077.416208,4603.02,45160.110,NaN
1399,Thailand,2011,831.2755,242.753954,1100.000,8.0000,NaN,NaN,NaN,NaN,Brazilan Naturals,NaN,TH,15.870032,100.992541,14565.237270,66000.00,49876.530,NaN
320,Angola,1995,62.1090,40.559000,10.000,136.0000,NaN,NaN,NaN,NaN,Brazilan Naturals,NaN,AO,-11.202692,17.873887,2433.540000,600.00,3726.540,NaN

In [7]:
df.to_csv("../data/coffee-cleaned-(tonnes).csv", index=False)